body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  height: 120px;
  justify-content: center;
}

header .menu_mobile {
  display: none;
}

.container {
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

header ul a {
  display: block;
  text-decoration: none;
  color: #727272;
  margin: 0;
  padding: 16px;
}

.menu {
  display: flex;
  align-items: center;
}

header ul .active,
header ul a:hover {
  background-color: #39aae1;
  color: white;
}

#banner {
  display: flex;
  justify-content: center;
  height: auto;
  background-image: url(../images/img1.jpg);
  background-position: center;
  background-size: cover;
}

.column {
  flex-direction: column;
}

.banner_headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

h1 {
  margin: 0;
  padding: 0;
}

.banner_headline h1 {
  color: white;
  font-size: 72px;
  font-family: 'PT Sans';
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

.banner_headline h2 {
  color: white;
  margin-top: 19px;
  font-size: 24px;
  font-family: 'PT Sans';
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5)
}

.banner_options {
  display: flex;
  height: 210px;
}

.banner1 {
  background-color: #42b3e5;
  display: flex;
  flex-direction: column;
  padding: 21px 30px 30px 30px;
  flex: 1;
}

.banner2 {
  background-color: #0384ce;
  display: flex;
  flex-direction: column;
  padding: 21px 30px 30px 30px;
  flex: 1;
}

.banner3 {
  background-color: #3156a3;
  display: flex;
  flex-direction: column;
  padding: 21px 30px 30px 30px;
  flex: 1;
}

.banner_title {
  margin-bottom: 12px;
  color: white;
  font-size: 24px;
  font-family: 'PT Sans';
}

.banner_description {
  color: white;
  font-size: 13px;
  font-family: 'Arial';
}

.read_more {
  display: block;
  width: fit-content;
  margin-top: 25px;
  color: white;
  font-size: 13px;
  font-family: 'Arial';
  text-decoration: none;
  padding: 8px;
  border: 1px solid white;
}

ul span,
.value {
  color: white;
  font-size: 13px;
  font-family: 'Arial';
}

.banner_options ul {
  display: flex;
  flex-direction: column;
}

.banner_options ul li {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
  border-bottom: 1px solid white;
}

#geral {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#geral section {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.widget_title {
  margin: 30px 0;
  font-family: 'PT Sans';
  font-size: 18px;
}

.widget_title_bar {
  width: 50px;
  height: 2px;
  background-color: #42b3e5;
  margin-top: 10px;
}

.departments_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  width: 150px;
  height: 150px;
  background-color: #42b3e5;
  margin-top: 15px;
}

aside .widget_body {
  font-family: Arial;
  font-size: 13px;
  color: #666666;
  margin-bottom: 28px;
}

aside .widget_contact {
  font-family: Arial;
  font-size: 13px;
  color: #666666;
  padding: 10px 0;
  border-bottom: 1px solid #D8D8D8;
}

aside .widget_contact a {
  color: #3156A3;
}

aside .widget_contact a:visited {
  color: none;
}

.widget_body article {
  width: 300px;
  margin-bottom: 15;
  margin-right: 30px;
  margin-bottom: 15px;
}

.article_data {
  display: flex;
  margin-bottom: 25px;
}

.article_date {
  padding: 13px 10px;
  background-color: #3156a3;
  font-family: Arial;
  font-size: 11px;
  color: #FFF;
}

.article_comments {
  padding: 13px 10px;
  background-color: #42b3e5;
  font-family: Arial;
  font-size: 11px;
  color: #FFF;
  margin-left: 2px;
}

.article_image img {
  width: 100%;
  height: auto;
}

.article_image .banner_title {
  color: #000;
}

.article_image .banner_description {
  color: #666;
}

.widget_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .banner_options {
  display: flex;
  flex: 1;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #202020;
}

.banner_options a {
  color: #FFF;
  text-decoration: none;
}

.banner_options a:visited {
  color: none;
}

.footer_content {
  margin-top: 30px;
  display: flex;
  flex: 1;
}

footer .widget_title {
  color: #FFF;
  margin: 0;
}

footer .widget_body {
  color: #909090;
  font-family: 'Arial';
  font-size: 13px;
  padding: 25px 0;
}

.footer_box {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 30px;
}

footer .contact_info {
  color: #909090;
  font-family: 'Arial';
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

footer .footer_content {
  font-family: 'Arial';
  font-size: 13px;
}

footer .footer_content a {
  color: #FFF;
}

footer .footer_post {
  padding: 10px 0;
}

footer .footer_post .widget_body {
  padding: 0;
  color: #D5D5D5; 
}

footer .post_time {
  font-size: 11px;
  margin-top: 2px;
  color: #42B3E5;
}

footer .widget_title {
  padding: 10px 0;
}

footer .widget_body_tweet .widget_body {
  color: #C5C5C5;
}

footer .copyright {
  margin-top: 15px;
  color: #909090;
  padding: 15px 0;
  border-top: 1px solid #353535;
  font-size: 11px;
}

@media (max-width: 600px) {
  #banner h1 {
    font-size: 56px;
    padding-left: 16px;
  }

  #banner h2 {
    font-size: 24px;
    padding-left: 16px;
  }

  #banner .container .banner_options{
    flex-direction: column;
  }

  #banner .banner_title {
    font-size: 16px;
  }

  .banner1, .banner2, .banner3 {
    flex: none;
  }

  #banner .banner_description {
    font-size: 12px;
  }

  #banner .value,
  #banner .banner3 span {
    font-size: 9px;
  }

  #banner .banner_options {
    height: auto;
  }

  #geral .container {
    flex-direction: column;
  }

  #geral .widget_body, 
  #geral .widget_title {
    padding-left: 16px;
    justify-content: center;
    padding-right: 16px;
  }

  #geral .widget_contact {
    padding-left: 16px;
  }

  footer .footer_content {
    padding-left: 16px;
  }

  footer .copyright {
    padding-left: 16px;
  }

  header {
    height: auto;
  }

  header .menu nav ul{
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #FFF;
  }

  header .logo {
    padding: 32px 16px;
  }

  header .menu_mobile {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 16px 0;
    padding-right: 16px;
    height: 30px;
  }

  header .menu_mobile:hover {
    cursor: pointer;
  }

  header .menu_linha {
    width: 30px;
    height: 3px;
    background-color: #42b3e5;
  }
}